*{
  margin: 0;
  padding: 0;
}
.Live-Events {
    width: 1920px;
    height: 3182px;
    padding: 2px 0 0;
    border: solid red 2px;
  }
  
  /*******navbar******* */
  /* base   */
  /* .Background-Gradient {
    width: 1920px;
    height: 161px;
    margin: 0 0 711px;
    background-color: #ffffff;
    border: solid blue 2px;
  } */
  .purple-background {
    /* these lines are extra not doing anything */
    /* width: 1920px;
    height: 648.6px; */
    margin: 159px 0 64.4px;
    /* this padding cause to over border  */
    /* padding: 64px 278px 64.6px 0; */
    object-fit: contain;
    /* this line is redundent  */
    /* background-image: linear-gradient(to bottom, #57005e, #4d005d 8%, #090057); */ 
    border: solid red 2px;
  }
  
  /* h1 style  */
  .Head-1 {
    width: 537px;
    height: 67px;
    /* margin: 0 0 12px; */
    margin-left: 277px;
    margin-right: 1106px;
    font-family: Ubuntu;
    font-size: 60px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.97px;
    text-align: left;
    color: #cf2323;
  }
  
  /* style paragraph */
  .Dweebs-is-a-worldwide-movement-aiming-to-provide-a {
    width: 537px;
    height: 329px;
    /* margin: 12px 0 32px; */
    margin-left: 277px;
    margin-right: 1106px;
    font-family: Oxygen;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    text-align: left;
    color: #9e1d1d;
  }

  .LIVE-EVENTS-PREVIEW {
    width: 100%;
    height: auto;
   max-width: 682px;
    margin: 47px 0 46.4px 146px;
    object-fit: contain;
  }
  
  

